API_COURSES=
# GET .../mss-medias/get-all-disciplinas (header X-Device-Id para incluir customs)
API_SUBJECTS=
# POST .../mss-medias/create-custom-disciplina
API_CREATE_CUSTOM_SUBJECT=
# DELETE .../mss-medias/delete-custom-disciplina?code=
API_DELETE_CUSTOM_SUBJECT=
API_GENETIC_ALGORITHM=
API_SUPPORT_URL=
API_FINAL_SCORE_URL=
API_NOTIFICATIONS=
